
/******MAP STYLING******/

.banner {
    position: absolute;
}

#title {
    height: 200px;
    width: 100%;
    float: left;
    display: inline-block;
    margin: 5px auto;
    padding: 10px;
    background-color: #fff;
}

.map {
    position: absolute;
    top: 175px;
    left: 0px ;
    border: none;
    width: 80%;
    margin-left: 15%;
    padding-left: 3%;
    background-color: #52d;
}



.USstates {
    fill: white;
    stroke: #fff;
    stroke-width: 0.5px;
    float:left;
}

/******TITLE STYLING******/




/******INFOLABEL STYLING******/

.retrievelabel {
    position: absolute;
    height: 50px;
    min-width: 10px;
    color: #000000;
    background-color: white;
    border: none;
    padding: 5px 10px;
    top: 50px;
    font-family: Arial;
    left: 100px;
    top: 300px;
}

.retrievelabel h1 {
    margin: 0 10px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}


