
/******MAP STYLING******/

.map {
    background: none;
    float: right;
}

.timeline {
    position:absolute;
    font-family: Arial;
    font-size:12px;
    fill: red;o    stroke: gray;
}

.timeline path,
.timeline line {
    fill: none;
    stroke: blue;
}


.states {
    stroke: grey;
    stroke-width: 0.5px;
    float:left;
}

#title {
    height: 100px;
    width: 100%;
    float: left;
    display: inline-block;
    margin: 5px auto;
    padding: 10px;
    background-color: #fff;
}

.yearExpressedText {
    float: right;
    font-family: Arial;
    color: white;
}

h1 {
  top: 10px;
}

.retrievelabel {
    margin: 0 10px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
    float: right;
}

.jumbotron {
  height: 250px;
}

.labelTitle {
   position: absolute;
   font-family: Arial;
   font-weight:bold;
   font-size:20px;
   line-height:24px;
   background-color: darkgrey;
   color:black;
   width:200px;
   float: left;
   padding: 3px;
   left: 200px;
}

.labelAttribute {
    font-family: Arial;
    font-size:16px;
    line-height: 20px;
}

.Legal {
    text-align: center;
    padding: 10%;
}

.menu-inset {
    float: left;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.menuInfoBox {
    margin-left: 15%;
    font-size: 14px;
    font-family: Arial;
}

.textBox {
    width: 20%;
    float: right;
}

.yearExpressedText {
    float: right;
    padding-right: 0px;
    font-family: Arial;
}

/*code added for the slider, not sure how much we really need*/

body {
    font-family: sans-serif;
}

text {
    font-family: sans-serif;
    font-size: 11pt;
}

a {
    color: #08c;
    text-decoration: none;
}

a:hover {
    color: violetred;
    text-decoration: none;
}

input {
    vertical-align: middle;
}
