
/******MAP STYLING******/

.map {
    position: absolute;
    top: 30px;
    left: 0px ;
    border: none;
    margin-left: 15%;
    padding-left: 3%;
}

.USstates {
    fill: white;
    stroke: #fff;
    stroke-width: 0.5px;
    float:left;
}

/******TITLE STYLING******/

h1 {
    z-index: 10px;
    top: 0px;
    left: 40px;
    font-size: 3.5em;
    font-style: bold;
    position: absolute;
    border-width: 0px;
    border: none;
    text-align: center;
    padding-top: 15px;
    font-family: Arial;
}


/******INFOLABEL STYLING******/

.retrievelabel {
    position: absolute;
    height: 50px;
    min-width: 10px;
    color: #000000;
    background-color: white;
    border: none;
    padding: 5px 10px;
    top: 50px;
    font-family: Arial;
    left: 100px;
    top: 300px;
}

.retrievelabel h1 {
    margin: 0 10px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}


